<h1>{{ question.question }}</h1>

<ul>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} 票</li>
{% endfor %}
</ul>

<a href="/polls/{{ question.id }}/">Vote again?</a>
